.spinner {
  display: block;
  margin: 10px auto;

  width: 25px;
  height: 25px;

  background: red;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.user {
  background: beige;
}

.user.admin {
  background: #ffe0e0;
}
.red{color:red}
.blue{color:blue}
.pink{
  background-color: palevioletred
}
.yellow{
  background-color: aqua
}